/* ===== Cart Page ===== */

.cart-page{

padding:40px;
text-align:center;

}


.cart-page h1{

color:#2e7d32;
font-size:35px;
margin-bottom:30px;

}



.cart-container{

display:flex;
flex-direction:column;
align-items:center;
gap:20px;

}



.cart-card{

background:white;
width:350px;
padding:20px;

border-radius:15px;

box-shadow:
0 5px 15px rgba(0,0,0,0.15);

text-align:left;

}


.cart-card h3{

color:#388e3c;
font-size:22px;

}



.cart-card p{

margin:8px 0;
font-size:17px;

}



#total{

margin:30px;
color:#e65100;

}



.place-btn{

background:#2e7d32;
color:white;

border:none;

padding:15px 40px;

font-size:18px;

border-radius:30px;

cursor:pointer;

}


.place-btn:hover{

background:#1b5e20;

}

